<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Getting Started: Serving Web Content</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
  <div class="title">Fritter</div>
    <div class="headline">Fritterとは</div>
      <div class="text">Fritter(フリッター)とは、カラッとした関係性を作りたい人たちが集まる、全く新しいSNS！</div>
    <!--
    以下フッター
    分け方は調べてね。過去の自分より。
    -->
    <div class="headline">LINK</div>
      <div class="text"><a href="/hello">Hello World!</a></div>
      <div class="text"><a href="/morning">朝の挨拶</a></div>
</body>
</html>